version: "3"
services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
  backend:
    image: manohar2024/mean-backend
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/testdb
    expose:
      - "8080"
    depends_on:
      - mongo
  frontend:
    image: manohar2024/mean-frontend
    container_name: frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend
  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
volumes:
  mongo-data:
